body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    margin-top: 350px;
}

div {
    color: white;
}

.running-score {
    display: flex;
    justify-content: space-evenly;
}

.container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 16px;
}

.rock, .paper, .scissors {
    color: white;
    background-color: black;
    padding: 15px;
    border: 2px solid white;
}

span {
    font-size: 20px;
}

.result {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 20px;
}

.winner {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.reset {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.resetGame {
    color: white;
    background-color: black;
    padding: 15px;
    border: 2px solid white;
}

.image-container {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

img {
    height: 100px;
    width: 100px;
}
